hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../../img/dests/im1blur.jpeg");
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 20pt;

    text-shadow: 0pt 0pt 10pt var(--dark);
}

hero .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    max-width: 700pt;
    margin: 100pt;
}

hero .container h1{
    display: flex;
    flex-grow: 2;
    font-size: 38pt;
    word-wrap: wrap;
    text-align: left;
    color: var(--text);
    margin-right: 20pt;
}

hero .container iframe{
    display: flex;
    flex-grow: 0;
    border-radius: 10pt;
}

@media (max-width: 600px){
    hero .container{
        margin: 0pt;
        margin-top: 10pt;
        margin-bottom: 10pt;
    }

    hero .container h1{
        width: 100%;
        font-size: 34pt;
        text-align: center;

        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        margin-right: 0px;
    }
}
