/* FONTS */

@font-face {
    font-family: "Raleway";
    src: url("../Raleway/Raleway.ttf");
    src: url("../Raleway/Raleway.ttf") format("truetype");
}

/* CONTENTS */
:root{
    --primary: #0bbf27;
    --secondary: #09a412;

    --text: white;
    --front: rgb(12, 12, 12);
    --back: black;
    --bg: rgb(250, 255, 250);
    --bg-highlight: white;
    --bg-translucent: rgba(255,255,255,0.7);
    --dark: rgb(10, 15, 10);
}

@media (prefers-color-scheme: dark) {
    :root{
        --primary: #0bbf27;
        --secondary: #09a412;

        --text: white;
        --front: rgb(243, 243, 243);
        --back: black;
        --bg: rgb(5, 0, 5);
        --bg-highlight: black;
        --bg-translucent: rgba(0, 0, 0,0.7);
        --dark: rgb(10, 15, 10);
    }
}

* {
    box-sizing: border-box;

    font-family: 'Raleway','Ubuntu thin','SegoeUI','Arial','NotoSans';
    line-height: 1.5;
}

body{
    display: block;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg);
    color: var(--front);
}

p{
    color: var(--front);
}


.section {
    display: block;
    position: fixed;
    visibility: hidden;
    height: 100%;
    width:100%;
    z-index: 1;
    background-color: transparent;
    color: var(--text);
    opacity: 0;
    text-align: left;
    font-size: 15pt;
}

.section::after{
    display: block;
    content: "";
    z-index: -2;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    filter: blur(20pt);
    transform: scale(150%);
    transition: 0.75s ease-out;
    background-position: center;
}

.section.show::after{
    filter: blur(0pt);
    transform: scale(100%);
    will-change: transform, filter;
}

.section.sect1::after {
    background-image: url("../../img/waterfall.jpg");
}

.section.sect2::after {
    background-image: url("../../img/forest.jpg");
}

.section.sect3::after {
    background-image: url("../../img/sigiriya.jpg");
}

.section.sect4::after {
    background-image: url("../../img/kandy.jpg");
}

.section h1,.section p{
    transition: 0.25s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    color: var(--text);
}

.section h1{
    font-size: 50pt;
    transition-delay: 0s;
}

.section p{
    font-size: 20pt;
    margin-top: 0pt;
    transition-delay: 0.12s;
    max-width: 35%;
}

.section.show h1,.section.show p {
    opacity: 1;
    transform: translateY(0%);
}

.section.black {
    background-color: rgb(0,0,0);
}

.section.blue {
    background-color: #3D8BE6;
}

.section.green {
    background-color: #4FC616;
}

.section.show {
    visibility: visible;
    opacity: 1;

    will-change: visibility, opacity;
}

p.full{
    width: 100%;
    max-width: 100%;
}

.primary{
    color: var(--primary);
    /* font-family: "DancingScript"; */
}

content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 30pt;
}

pager{
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    padding: 10pt;
    height: 100%;
    align-items: center;

    position: fixed;
    right: 0pt;
    z-index: 100;

    pointer-events: none;
}

pager itemcontainer{
    display:flex;
    height: fit-content;
    flex-direction: column;
}

pager item{
    display: flex;
    width: 8pt;
    height: 8pt;
    border-radius: 4pt;
    background-color: var(--text);
    margin: 2pt;
    margin-top: 4pt; margin-bottom: 4pt;
    transition: 0.2s ease-out;
    pointer-events: all;
}

pager item.active{
    width: 10pt;
    height: 10pt;
}

.section content::after{
    display: block;
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(120deg, var(--back), transparent 90%);
}

html{
    height: 100%;
}

a{
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

content.normal h1{
    font-size: xxx-large;
    max-width: 100%;
    overflow-wrap: break-word;
}

content.normal p{
    width: 100%;
    max-width: 600pt;
    font-size: 16pt;
}

blockquote{
    width: 100%;
    max-width: 600pt;
    font-size: 16pt;
    border-left: 4pt solid var(--primary);
    padding: 20pt;
}

@media (max-width: 600px){
    content {
        flex-direction: column;
        align-items: center;
        margin-top: 62pt;
    }

    .section content::after {
        background: linear-gradient(0deg, var(--back), transparent 90%);
    }

    content .bottom {
        display:flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        flex-direction: column;
        padding: 30pt;

        max-height:calc(100% - 62pt);
        overflow: auto;
    }


    content .flat {
        display:flex;
        width: 100%;

        flex-direction: column;
        padding: 5pt;

        max-height:100%;
        overflow: auto;
    }

    .section h1 {
        font-size: 10vw;
    }
    .section p {
        width: 100%;
        max-width: 100%;
    }

    pager {
        right: unset;
        bottom: 0;
        height: unset;
        width: 100%;
        flex-direction: column;
    }

    pager itemcontainer {
        flex-direction: row;
    }

    .desktop-only{
        display: none;
    }

    .img-case{
        width: 100%;
        flex-direction: column;
    }
}

.landscape_only{
    display: none !important;
}

@media screen and (orientation: landscape) and (max-height: 500px){
    .landscape_only{
        display: flex !important;
    }

    .normal_only{
        display: none;
    }

}

@media (min-width: 600){
    .mobile-only{
        display: none;
    }
}

.center-items{
    align-items: center;
}

p.center{
    text-align: center;
}

.limited-width{
    max-width: 600pt;
}

.img-case{
    display:flex;
    max-width: 500pt;
    align-items: start;
    margin: 40pt;
}

.img-case img{
    display: flex;
    height: auto;
    width: 100%;
}

.row{
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-top: 10pt;
}
