.showcase-grid{
    display: flex;
    flex-direction: row;
    max-width: 900pt;
    width: 100%;
    padding: 20pt;
    flex-wrap: nowrap;
}

.showcase-grid .icon{
    display: flex;
    height: 80pt;
    width: auto;
    cursor: pointer;
    margin: 30pt;
}

.showcase-grid.small .icon{
    height: 40pt;
    margin: 0;
    margin-left: 20pt;
}

.showcase-grid.tiny .icon{
    height: 30pt;
    margin: 0;
    margin-left: 10pt;
}

.showcase-grid .caption{
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15pt;
    margin-left: 5pt;
}

@media (max-width: 600px){
    .showcase-grid{
        flex-direction: column;
        align-items: center;
    }

    .showcase-grid.forced{
        flex-direction: row;
    }
}
