.animatable{
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.animatable.animating{
    opacity: 1;
    transform: translateX(0%);
}

.card.animatable{
    transform: translateX(-50%);
}

.card.animatable.animating{
    transform: translateX(0%);
}

.card:not(.long).animatable:nth-child(3n), .icon.animatable:nth-child(3n){
    transition-delay: 0s;
}

.card:not(.long).animatable:nth-child(3n-1), .icon.animatable:nth-child(3n-1){
    transition-delay: 0.2s;
}

.card:not(.long).animatable:nth-child(3n-2), .icon.animatable:nth-child(3n-2){
    transition-delay: 0.4s;
}

.overlay{
    display: flex;
    color: var(--text);
    position: fixed;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
    z-index: 100000;

    animation: fadeOut 1s ease-out forwards;
    pointer-events: none;
}

.out .overlay{
    animation: fadeIn 0.75s ease-in forwards;
}

.overlay heading{
    display: flex;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    flex-direction: column;
}

@keyframes fadeOut{
    0% { opacity: 1; }
    25% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
