.grid{
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800pt;
}

.card{
    display: flex;
    padding: 20pt;
    margin: 20pt;

    transform: scale(100%);
    transition: 0.25s ease-out;

    background-color: transparent;
    color: var(--front);
    border-radius: 10pt;
    background-size: cover;
    cursor: pointer;

    position: relative;
    flex-basis: calc(33.333% - 40pt);
    flex-direction: column;
    overflow: hidden;
}

.card topic{
    display: block;
    width: calc(100% - 40pt);
    font-size: 15pt;
    padding: 10pt;
    transition: 0.5s ease-in-out;
    position: absolute;

    background-color: var(--bg-translucent);
    backdrop-filter: blur(20pt);
    color: var(--front);
    text-align: center;
    border-radius: 10pt;
    box-shadow: 0pt 0pt 10pt 1pt var(--back);
    bottom: 20pt;
}

.card text{
    display: block;
    width: 100%;
    margin-bottom: 55pt;
    padding: 10pt;
    font-size: 12pt;
    transition: 0.5s ease-in-out;

    opacity: 0;

    background-color: var(--bg-translucent);
    backdrop-filter: blur(20pt);
    color: var(--front);
    text-align: center;
    border-radius: 10pt;
    box-shadow: 0pt 0pt 10pt 1pt var(--back);
}

.card:hover text{
    opacity: 1;
}

.card:hover topic{
    font-size: 13pt;
}

.card img{
    display:block;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    height: 100%;

    border-radius: 10pt;
}


.card.long{
    flex-basis: 100%;
    margin: 5pt;
    flex-direction: row;
    background-color: var(--bg-highlight);
    align-items: flex-start;
    box-shadow: 0pt 0pt 10pt -5pt var(--dark);
}

.card.long topic{
    position: relative;
    text-align: center;
    font-weight: bold;
    text-align: left;
    font-size: 15pt !important;
    width: 100%;
    backdrop-filter: none;
    margin-bottom: 0;
    padding-bottom: 0;

    box-shadow: none;
    margin: 10pt;
    background: transparent;
}

.card.long text{
    opacity: 1;
    font-size: 12pt;
    text-align: left;
    box-shadow: none;
    margin-bottom: 0;
    background: transparent;
    backdrop-filter: none;
    width: 100%;
    padding-left: 20pt;

    margin-top: 0;
    padding-top: 0;
}

.card.long img{
    position: relative;
    width: 150pt;
    left: 0;
    height: auto;
}

@media (max-width: 600px){
    .grid{
        width: 100%;
        max-width: 100%;
    }

    .card{
        flex-basis: 100%;
        margin: 5pt;
    }

    .card topic{
        position: relative;
        text-align: center;
        font-weight: bold;
        text-align: center;
        font-size: 15pt !important;


        width: calc(100% - 20pt);
        box-shadow: none;
        margin: 10pt;
        margin-bottom: -20pt;
    }

    .card text{
        opacity: 1;
        font-size: 12pt;
        box-shadow: none;
        margin-bottom: 0;
        padding: 10pt;
    }

    .card img{
        position: relative;
        margin-bottom: 20pt;
    }

    .card.long{
        flex-wrap: wrap;
        align-items: center;
        margin: 0pt;
        margin-bottom: 20pt;
    }

    .card.long img{
        width: 100%;
        height: auto;
    }

    .card.long text{
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
        padding: 0;
    }
    .card.long topic{
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }
}
