* {
    box-sizing: border-box;
}

body{
    display: block;
    padding: 0px;
    margin: 0px;
}

.section {
    display: block;
    position: fixed;
    visibility: hidden;
    height: 100%;
    width:100%;
    background-color: purple;
    color: white;
    opacity: 0;
    transform: translateY(-10%);
    transition: 0.5s ease-in-out;
    text-align: left;
    padding: 5rem;
    font-size: 30pt;
    font-family: 'Ubuntu thin','SegoeUI','Arial','NotoSans';
}

.section h1{
    fonst-size: 40pt;
}

.section.black {
    background-color: rgb(0,0,0);
}

.section.blue {
    background-color: #3D8BE6;
}

.section.green {
    background-color: #4FC616;
}

.section.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
