nav{
    display: flex;
    width: 100%;
    color: var(--text);
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    top: 0;

    font-size: 15pt;
}

nav.solid{
    background-color: var(--dark);
}

nav.absolute{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav items{
    display: flex;
    flex-grow: 0;
    align-items: center;
}

nav items a{
    display: block;
    text-decoration: none;
    color: var(--text);
    margin-left: 10pt;
    padding: 15pt;
    font-weight: bold;
    text-shadow: 0px 0px 9pt rgba(0, 0, 0, 1);
}

nav items a:hover{
    color: var(--primary);
    filter: brightness(125%);
}

nav items a.active{
    color: var(--primary);
    border-bottom: 4pt solid var(--primary);
    padding-top:18pt;
    padding-bottom: 14pt;
    filter: brightness(125%);
}

nav logo{
    display: flex;
    flex-grow: 2;
}

nav logo h1{
    margin-left: 10pt;
    font-size: 18pt !important;
    transform: none !important;
    opacity: 1 !important;
}

@media (max-width:600px){

    nav.solid{
        background-color: var(--back);
        z-index: 99;
        position: fixed;
    }

    nav items{
        position: fixed;
        background-color: var(--back);
        top: 0;
        right: 0;
        bottom: 0;
        left: 5rem;
        z-index: 998;
        visibility: hidden;


        flex-direction: column;
        padding-top: 48pt;

        transform: translateX(100%);
        transition: 0.5s ease-out;
    }

    nav logo{
        text-shadow: 0px 0px 15pt rgba(0, 0, 0, 1);
    }

    hamburger{
        display: flex;
        content: "";
        visibility: show;
        z-index: 999;
        width: 33pt;
        height: 33pt;
        margin: 15pt;
        filter: invert(100%);
        background-color: white;
        border-radius: 10pt;

    }

    hamburger::before{
        display: block;
        content: "";
        position: fixed;
        top: 8pt;
        bottom: 8pt;
        left: 8pt;
        right: 8pt;
        background-image: url('../img/hamburger.svg');
        background-size: cover;
    }


    hamburger::after{
        display: block;
        content: "";
        position: fixed;
        top: 0pt;
        bottom: 0pt;
        right: 0pt;
        left: -10pt;
        background-color: transparent;
    }

    nav items a{
        width: 100%;
        padding: 2rem;
        border: none !important;
    }

    .show-menu items{
        visibility: visible;
        transform: translateX(0%);
    }
}
